# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
venv/

# TREC2007 raw dataset
trec07p/

__pycache__

# Ignore datasets that are too large
attacks/data/enron_cleaned.csv
attacks/data/trec_cleaned.csv