notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
nltk
statistics
statsmodels
lightgbm
xgboost
yellowbrick
tqdm
torch
tensorflow
gensim
spacy
pyLDAvis
